<%- include("templates/header") %>

  <div class="center text-center">
    <h1 class="h3 fw-normal py-3">404 - Page not found</h1><br>
    <img src='/404.gif'>
    <div class="py-5"></div>
  </div>

  <%- include("templates/footer") %>