<%- include("templates/header") %> 
<form id="home-form" class="py-4">
    <button type="submit" formaction='/signup' class="btn btn-primary button">Register</button>
    <button type="submit" formaction='/login' class="btn btn-outline-primary button">Sign in</button>
</form>
<%- include("templates/footer") %> 