<li>
  <form>
    <%= user.username %>
    (<%= user.user_type %>)
    (<%= user._id %>)
    <form>
      <button formaction="/promote" method="get"> Promote to Admin </button>
      <button> Demote to User </button>
    </form>
  </form>
</li>
